<div class="@GetDynamicClasses()" style="@GetDynamicStyle()" title="@Slot.RepairTasks">
    <div class="d-flex flex-column justify-content-between h-100" style="font-size: 0.90rem;">
        <div class="mt-1">
            <span class="badge">@($"{Slot.StartAt:HH\\:mm} ➔ {Slot.EndAt:HH\\:mm}")</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            @if (Slot.IsOccupied)
            {
                <span class="badge text-sm">@Slot.Vehicle</span>
                <span class="badge text-sm text-warning">@Slot.Labor?.Name</span>
            }
        </div>
    </div>

    @if (!Slot.IsOccupied && Slot.IsAvailable)
    {
        <div class="booking-overlay" @onclick="() => OnNewWorkOrderDialog.InvokeAsync(Slot)" style="cursor: pointer;">
        </div>
    }
    else if (!Slot.IsOccupied && !Slot.IsAvailable)
    {
        <div class="booking-overlay" style="cursor: not-allowed;"></div>
    }

    @if (Slot.IsOccupied)
    {
        <div class="booking-overlay d-flex justify-content-end align-items-start">
            <button class="btn btn-sm btn-secondary me-1 px-1 p-0 fs-6" title="State"
                @onclick="@(() => OnEditWorkOrderStateDialog.InvokeAsync(Slot))">
                <i class="bi bi-activity"></i>
            </button>

            @if (!Slot.WorkOrderLocked)
            {
                <button class="btn btn-sm btn-secondary me-1 px-1 p-0 fs-6" title="Relocate"
                    @onclick="@(() => OnRelocateWorkOrderDialog.InvokeAsync(Slot))">
                    <i class="bi bi-arrow-left-right"></i>
                </button>
                <button class="btn btn-sm btn-secondary me-1 px-1 p-0 fs-6" title="Labor"
                    @onclick="@(() => OnEditWorkOrderLaborDialog.InvokeAsync(Slot))">
                    <i class="bi bi-person-arms-up"></i>
                </button>
                <button class="btn btn-sm btn-secondary me-1 px-1 p-0 fs-6" title="Tasks"
                    @onclick="@(() => OnEditWorkOrderRepairTasksDialog.InvokeAsync(Slot))">
                    <i class="bi bi-wrench-adjustable-circle"></i>
                </button>
                <button class="btn btn-sm btn-secondary me-1 px-1 p-0 fs-6" title="Delete"
                    @onclick="@(() => ConfirmDeleteAsync(Slot))">
                    <i class="bi bi-trash-fill"></i>
                </button>
            }
            <NavLink href="@($"/workorder-details/{Slot.WorkOrderId}")" class="btn btn-sm btn-secondary me-1 px-1 p-0 fs-6">
                <i class="bi bi-info"></i>
            </NavLink>
        </div>
    }
</div>

@code {
    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;

    [Parameter] public AvailabilitySlotModel Slot { get; set; } = default!;

    [Parameter, EditorRequired] public EventCallback<AvailabilitySlotModel> OnNewWorkOrderDialog { get; set; } = default!;
    [Parameter, EditorRequired]
    public EventCallback<AvailabilitySlotModel> OnEditWorkOrderLaborDialog { get; set; } =
    default!;
    [Parameter, EditorRequired]
    public EventCallback<AvailabilitySlotModel> OnRelocateWorkOrderDialog { get; set; } =
    default!;
    [Parameter, EditorRequired]
    public EventCallback<AvailabilitySlotModel> OnEditWorkOrderRepairTasksDialog { get; set; } =
    default!;
    [Parameter, EditorRequired]
    public EventCallback<AvailabilitySlotModel> OnEditWorkOrderStateDialog { get; set; } =
    default!;
    [Parameter] public EventCallback<Guid> OnDeleteWorkOrder { get; set; } = default!;

    public string GetDynamicClasses()
    {
        var baseClasses = "booking-container w-100 fw-semibold bg-opacity-25 ";

        baseClasses += Slot.IsOccupied ? "bg-secondary" : "bg-success";

        if (!Slot.IsOccupied && !Slot.IsAvailable)
            baseClasses += " unavailable";

        return baseClasses;
    }


    public string GetDynamicStyle()
    {
        var duration = (Slot.EndAt - Slot.StartAt).TotalMinutes;
        var height = duration * 4;

        return $"height: {height}px; outline: 2px solid #212529; outline-offset: -1px; padding:0!important;";
    }
    private async Task ConfirmDeleteAsync(AvailabilitySlotModel slot)
    {
        if (slot.WorkOrderId is not null)
        {
            var message = $"Delete WorkOrder?\n\n" +
            $"⏰ Time: {slot.StartAt:hh\\:mm} ➔ {slot.EndAt:hh\\:mm}\n" +
            $"🚗 Vehicle: {slot.Vehicle}\n" +
            $"👷 Labor: {slot.Labor!.Name}\n";

            var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", message);

            if (confirmed)
            {
                await OnDeleteWorkOrder.InvokeAsync(slot.WorkOrderId.Value);
            }
        }
    }
}
